@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,600,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
}

@media only screen and (min-width: 577px) {
  h1 {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 10rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

@media only screen and (min-width: 577px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

section {
  padding: 80px 0;
}

.button {
  color: #ede9e7;
  font-weight: 600;
  height: 50px;
  width: 150px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  background: linear-gradient(45deg, #ede9e7 50%, transparent 50%);
  background-position: 100% 0;
  background-size: 500%;
  background-color: #a7413f;
  border: 1px solid #a7413f;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-position: 0 100%;
  color: #a7413f;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

.hamburger.is-active .hamburger-inner, .hamburger-inner {
  background-color: #26304f;
}

.hamburger.is-active .hamburger-inner:before, .hamburger-inner:before {
  background-color: #26304f;
}

.hamburger.is-active .hamburger-inner:after, .hamburger-inner:after {
  background-color: #26304f;
}

header {
  background-image: url(../images/planes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #26304f;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}

header nav {
  transition: 0.5s;
  background: rgba(237, 233, 231, 0.8);
}

header nav:hover {
  background: #ede9e7;
}

header nav .navbar-toggler:focus {
  outline: none;
}

header nav .navbar-collapse {
  justify-content: flex-end;
}

header nav .navbar-collapse .nav-item {
  font-size: 14px;
  padding: 0 1rem;
}

@media only screen and (min-width: 972px) {
  header nav .navbar-collapse .nav-item {
    display: flex;
    align-items: center;
  }
}

header nav .navbar-collapse .nav-item img {
  width: 35px;
}

header nav .navbar-collapse a {
  color: inherit;
  transition: 0.5s;
}

header nav .navbar-collapse a:hover {
  color: #a7413f;
}

@media only screen and (max-width: 767px) {
  header nav .navbar-collapse a:hover {
    padding-left: 20px;
  }
}

header .home-text--main {
  max-width: 665px;
}

@media only screen and (max-width: 576px) {
  header .home-text--main {
    text-align: center;
  }
  header .home-text--main h1 {
    margin-top: 20px;
  }
}

header .home-text--main .home-text--main-subtext {
  color: #ede9e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  header .home-text--main .home-text--main-subtext {
    flex-direction: column;
  }
  header .home-text--main .home-text--main-subtext h2 {
    margin-bottom: 20px;
  }
}

header .home-text--second {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (min-width: 577px) {
  header .home-text--second {
    margin-top: 100px;
  }
}

header .home-text--second h3:nth-of-type(1) {
  color: #a7413f;
}

header .home-text--second h3:nth-of-type(1), header .home-text--second h3:nth-of-type(2) {
  margin-bottom: 0.5rem;
}

.stats {
  text-align: center;
  background-color: #9aa8c3;
  color: #ede9e7;
}

.stats h2:nth-of-type(2) {
  margin-bottom: 50px;
}

.stats h2:nth-of-type(2) span {
  color: #26304f;
}

.stats h3:nth-of-type(2) {
  color: #a7413f;
  margin-bottom: 30px;
}

.stats .stats-text {
  color: #26304f;
  margin-bottom: 60px;
  font-size: 18px;
}

.stats .counter {
  color: #a7413f;
  margin-bottom: 10px;
  margin-top: 20px;
}

@media only screen and (min-width: 577px) {
  .stats .counter {
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.stats .col-md-3 p {
  font-size: 1rem;
}

.about {
  background-image: url(../images/planes2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #26304f;
}

.about .about-text p {
  font-size: 18px;
}

.about .col-sm-12 {
  padding-bottom: 10px;
}

@media only screen and (min-width: 577px) {
  .about .col-sm-12 {
    padding-bottom: 35px;
  }
}

.about .col-sm-12 h3 {
  margin-bottom: 50px;
  padding: 0 20px;
}

.about .col-lg-6 {
  margin: 20px 0;
  opacity: 0;
  text-align: center;
}

@media only screen and (min-width: 577px) {
  .about .col-lg-6 {
    text-align: left;
    margin: 45px 0;
  }
}

.about .col-lg-6 h4 {
  padding: 20px 0 10px;
}

.about .col-lg-6 .circle {
  border: 5px solid #a7413f;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about .col-lg-6 .circle {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .about .col-lg-6 .circle {
    width: 130px;
    height: 130px;
  }
}

.about .col-lg-6 .circle:hover {
  transform: scale(1.05);
}

.about .col-lg-6 .circle:hover img {
  transform: rotate(360deg);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about .col-lg-6 .circle:hover img {
    transform: scale(0.8) rotate(360deg);
  }
}

.about .col-lg-6 .circle img {
  transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about .col-lg-6 .circle img {
    transform: scale(0.8);
  }
}

.about .col-lg-6 .col-sm-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer {
  text-align: center;
  background-color: #9aa8c3;
}

.offer h2 {
  color: #26304f;
  margin-bottom: 50px;
}

.offer h2 span {
  color: #a7413f;
}

.offer h3, .offer .offer-text {
  color: #ede9e7;
}

.offer h3 {
  margin-bottom: 30px;
}

.offer .offer-text {
  margin-bottom: 100px;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .offer .offer-row:nth-of-type(1) {
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 767px) {
  .offer .offer-row:nth-of-type(2) .offer-box:nth-of-type(1), .offer .offer-row:nth-of-type(2) .offer-box:nth-of-type(3) {
    background-color: #9aa8c3;
  }
  .offer .offer-row:nth-of-type(2) .offer-box:nth-of-type(2) {
    background-color: #ede9e7;
  }
}

.offer .offer-box:nth-of-type(2) {
  background-color: #9aa8c3;
}

.offer .offer-box {
  color: #26304f;
  padding: 40px 40px;
  background-color: #ede9e7;
  margin-bottom: 20px;
  transition: 0.5s ease-in;
  box-shadow: 5px 16px 10px -5px rgba(0, 0, 0, 0.2);
}

.offer .offer-box .offer-box-items {
  transition: 0.5s ease-in;
}

.offer .offer-box h4 {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .offer .offer-box:hover {
    background-color: #26304f;
    transform: scaleY(1.2);
  }
  .offer .offer-box:hover .offer-box-items {
    color: #ede9e7;
    transform: scaleY(calc(1/1.2));
  }
}

.portfolio {
  background-image: url(../images/planes3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #26304f;
}

.portfolio h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.portfolio h2 span {
  color: #ede9e7;
}

.portfolio h3 {
  margin-bottom: 80px;
}

.portfolio h3 span {
  color: #a7413f;
}

.portfolio .testimony {
  color: #a7413f;
  text-align: justify;
}

.portfolio .testimony p:nth-of-type(2) {
  text-align: right;
}

.contact {
  background-color: #ede9e7;
  color: #26304f;
  padding: 40px 0;
}

.contact h4 {
  margin-bottom: 30px;
  display: inline-block;
}

.contact .formData {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 100px;
}

.contact .formData-items > * {
  margin-bottom: 10px;
  font-weight: 600;
}

.contact .formData-copy {
  font-size: 1rem;
}

.contact .formData a {
  display: block;
  cursor: pointer;
  color: inherit;
}

@media only screen and (max-width: 767px) {
  .contact .formData {
    padding-right: 0.5rem;
    margin-top: 50px;
  }
}

.contact .form-message {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .form-message h6 {
  margin-bottom: 20px;
}

.contact .form {
  padding-left: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact .form {
    padding-left: 7.5px;
  }
}

.contact .form .input-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

@media only screen and (max-width: 1199px) {
  .contact .form .input-container {
    flex-direction: column;
    padding-bottom: 0px;
  }
}

.contact .form .input-container input {
  box-shadow: none;
  border: none;
  width: 48%;
  border-radius: 10px;
  padding: 10px;
}

.contact .form .input-container input:focus {
  outline: none;
  color: #26304f;
}

@media only screen and (max-width: 1199px) {
  .contact .form .input-container input {
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact .form textarea {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
  min-height: 100px;
  resize: none;
  display: block;
  border: none;
  box-shadow: none;
}

.contact .form textarea:focus {
  outline: none;
  color: #26304f;
}

.contact .form textarea::placeholder, .contact .form input::placeholder {
  color: #26304f;
}

.form-hide {
  display: none !important;
}

@keyframes formFadeIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.formFadeInAnimation {
  animation: formFadeIn 0.5s forwards;
}

@keyframes formFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}

.formFadeOutAnimation {
  animation: formFadeOut 0.5s forwards;
}

footer {
  background-color: #26304f;
  padding: 25px 0;
}

footer div {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 576px) {
  footer div {
    flex-direction: column;
    align-items: center;
  }
}

footer div p {
  margin-left: 10px;
}

footer div p, footer div a {
  font-weight: 400;
  font-size: 0.75rem;
  color: #ede9e7;
}

footer div a:hover {
  color: #a7413f;
}

/*# sourceMappingURL=style.css.map */